In [1]:
#importing the libraries
import numpy as np
import matplotlib.pyplot as plt #for 2D visuals
import pandas as pd

In [2]:
#importing the dataset 
dataset = pd.read_csv('Salary_Data.csv')

In [3]:
#print the first 5 rows of the dataset
dataset.head(3)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0

In [4]:
#getting more info on our data
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [5]:
#checking the datatypes of the variables
dataset.dtypes

YearsExperience    float64
Salary             float64
dtype: object

In [6]:
dataset.isna()

    YearsExperience  Salary
0             False   False
1             False   False
2             False   False
3             False   False
4             False   False
5             False   False
6             False   False
7             False   False
8             False   False
9             False   False
10            False   False
11            False   False
12            False   False
13            False   False
14            False   False
15            False   False
16            False   False
17            False   False
18            False   False
19            False   False
20            False   False
21            False   False
22            False   False
23            False   False
24            False   False
25            False   False
26            False   False
27            False   False
28            False   False
29            False   False

In [7]:
# checking for null values
dataset.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [8]:
#using the shape attribute
dataset.shape

(30, 2)

In [9]:
#partitioning our historical data into 4 subsets
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [11]:
type(X)

numpy.ndarray

In [12]:
y

array([ 39343.,  46205.,  37731.,  43525.,  39891.,  56642.,  60150.,
        54445.,  64445.,  57189.,  63218.,  55794.,  56957.,  57081.,
        61111.,  67938.,  66029.,  83088.,  81363.,  93940.,  91738.,
        98273., 101302., 113812., 109431., 105582., 116969., 112635.,
       122391., 121872.])

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=1/3,random_state=0)

In [14]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [15]:
X_train.shape

(20, 1)

In [16]:
X_test.shape

(10, 1)

In [17]:
y_train.shape

(20,)

In [18]:
y_test

array([ 37731., 122391.,  57081.,  63218., 116969., 109431., 112635.,
        55794.,  83088., 101302.])

### Predicting the Test Set results

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
y_pred

In [ ]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test,y_pred)
print(r2)

In [ ]:
#Visualising the models
plt.scatter(X_train,y_train,color='red')
plt.plot(X_train,regressor.predict(X_train),color='blue')
plt.title('Salary vs Experience')
plt.xlabel('Years Of Experience')
plt.ylabel('Salary')
plt.show()

In [14]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

insurance = pd.read_csv("insurance.csv")
insurance=pd.get_dummies(data=insurance,columns=['sex', 'smoker',"region"],drop_first=True)

In [15]:


X = insurance.drop("expenses", axis = 1)#independent variables
y = insurance["expenses"]#dependent variable

In [16]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [17]:

df = pd.concat([y_train,X_train],axis=1)   #we csan achieve the same o/p by the merge function,but that would require a 
df.head()                                  #common variable(primary key)

,expenses,age,bmi,children,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
332,13429.04,61,31.2,0,0,0,1,0,0
355,24603.05,46,27.6,0,1,0,0,0,1
138,27322.73,54,31.9,3,0,0,0,1,0
381,42303.69,55,30.7,0,1,1,0,0,0
292,42112.24,25,45.5,2,1,1,0,1,0

In [18]:

import statsmodels.formula.api as sm
rock=sm.ols(formula=
"""expenses ~ age+ bmi + children + sex_male + smoker_yes
+region_northwest + region_southeast + region_southwest""",data=df).fit()
rock.summary()# shows total summary

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               expenses   R-squared:                       0.742
Model:                            OLS   Adj. R-squared:                  0.740
Method:                 Least Squares   F-statistic:                     334.0
Date:                Sat, 15 Jul 2023   Prob (F-statistic):          6.37e-267
Time:                        00:06:05   Log-Likelihood:                -9492.8
No. Observations:                 936   AIC:                         1.900e+04
Df Residuals:                     927   BIC:                         1.905e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept        -1.238e+04   1210.566    -10.224      0.000   -1.48e+04      -1e+04
age                261.2825     14.435     18.101      0.000     232.954     289.611
bmi                348.9660     35.282      9.891      0.000     279.724     418.208
children           424.4107    166.968      2.542      0.011      96.732     752.090
sex_male           104.9952    404.877      0.259      0.795    -689.586     899.577
smoker_yes        2.363e+04    498.598     47.389      0.000    2.26e+04    2.46e+04
region_northwest  -486.4700    570.033     -0.853      0.394   -1605.175     632.235
region_southeast  -970.6182    579.836     -1.674      0.094   -2108.561     167.325
region_southwest  -925.0631    578.401     -1.599      0.110   -2060.190     210.063
==============================================================================
Omnibus:                      224.880   Durbin-Watson:                   2.075
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              543.785
Skew:                           1.271   Prob(JB):                    8.29e-119
Kurtosis:                       5.735   Cond. No.                         312.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""