In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_train= pd.read_csv('train.csv')
df_test= pd.read_csv('test.csv')
print(df_test.shape)
#needs numpy as yet
print(df_train.shape)

(4209, 377)
(4209, 378)

In [3]:
df_train.head(11)
df_train.dtypes

ID        int64
y       float64
X0       object
X1       object
X2       object
         ...
X380      int64
X382      int64
X383      int64
X384      int64
X385      int64
Length: 378, dtype: object

In [29]:
#reverse imputation#
df_train.describe()

train_data=np.var(df_train, axis = 0, ddof = 0) #/axis = 1
train_data

test_data=np.var(df_test, axis = 0)
test_data

C:\ProgramData\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3713: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
C:\ProgramData\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3713: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

ID      5.869917e+06
X10     1.864563e-02
X12     6.883438e-02
X13     5.733136e-02
X14     2.448005e-01
            ...
X380    8.012675e-03
X382    8.713410e-03
X383    4.749465e-04
X384    7.122504e-04
X385    1.660337e-03
Length: 352, dtype: float64

In [5]:
### ^ np.var throws future warning, deprecated --> no obvious fix

In [7]:
train_name=[]
for i in train_data.items():
    if(i[1]==0):
        train_name.append(i[0])
        #print(i)
print(train_name)

['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']

In [8]:
test_name=[]
for i in test_data.items():
    if(i[1]==0):
        test_name.append(i[0])
        #print(i) or basic input
print(test_name)

['X257', 'X258', 'X295', 'X296', 'X369']

In [9]:
df_train.drop(train_name,axis=1, inplace=True)
df_train.drop(test_name,axis=1, inplace=True)
df_test.drop(train_name,axis=1, inplace=True)
df_test.drop(test_name,axis=1, inplace=True)
print(df_train.shape)
print(df_test.shape)

(4209, 361)
(4209, 360)

In [10]:
#exfil null values

for i,j in zip(df_train.columns,df_train.isnull().sum()):
    if(j!=0):
        print(i)
for i,j in zip(df_test.columns,df_test.isnull().sum()):
    if(j!=0):
        print(i)
train_desc=df_train.describe(include='O')
df_train.describe(include='O')

          X0    X1    X2    X3    X4    X5    X6    X8
count   4209  4209  4209  4209  4209  4209  4209  4209
unique    47    27    44     7     4    29    12    25
top        z    aa    as     c     d     w     g     j
freq     360   833  1659  1942  4205   231  1042   277

In [11]:
#train in descending columns
train_desc.columns

test_desc=df_test.describe(include='O')
df_train.describe(include='O')

          X0    X1    X2    X3    X4    X5    X6    X8
count   4209  4209  4209  4209  4209  4209  4209  4209
unique    47    27    44     7     4    29    12    25
top        z    aa    as     c     d     w     g     j
freq     360   833  1659  1942  4205   231  1042   277

In [12]:
#so on with test set
test_desc.columns

for i in ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']:
    print('df_train')
    print(i, df_train[i].unique())
    print('df_test')
    print(i, df_test[i].unique())

df_train
X0 ['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab']
df_test
X0 ['az' 't' 'w' 'y' 'x' 'f' 'ap' 'o' 'ay' 'al' 'h' 'z' 'aj' 'd' 'v' 'ak'
 'ba' 'n' 'j' 's' 'af' 'ax' 'at' 'aq' 'av' 'm' 'k' 'a' 'e' 'ai' 'i' 'ag'
 'b' 'am' 'aw' 'as' 'r' 'ao' 'u' 'l' 'c' 'ad' 'au' 'bc' 'g' 'an' 'ae' 'p'
 'bb']
df_train
X1 ['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
df_test
X1 ['v' 'b' 'l' 's' 'aa' 'r' 'a' 'i' 'p' 'c' 'o' 'm' 'z' 'e' 'h' 'w' 'g' 'k'
 'y' 't' 'u' 'd' 'j' 'q' 'n' 'f' 'ab']
df_train
X2 ['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
df_test
X2 ['n' 'ai' 'as' 'ae' 's' 'b' 'e' 'ak' 'm' 'a' 'aq' 'ag' 'r' 'k' 'aj' 'ay'
 'ao' 'an' 'ac' 'af' 'ax' 'h' 'i' 'f' 'ap' 'p' 'au' 't' 'z' 'y' 'aw' 'd'
 'at' 'g' 'am' 'j' 'x' 'ab' 'w' 'q' 'ah' 'ad' 'al' 'av' 'u']
df_train
X3 ['a' 'e' 'c' 'f' 'd' 'b' 'g']
df_test
X3 ['f' 'a' 'c' 'e' 'd' 'g' 'b']
df_train
X4 ['d' 'b' 'c' 'a']
df_test
X4 ['d' 'b' 'a' 'c']
df_train
X5 ['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
df_test
X5 ['t' 'b' 'a' 'z' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac'
 'ad' 'ae' 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
df_train
X6 ['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']
df_test
X6 ['a' 'g' 'j' 'l' 'i' 'd' 'f' 'h' 'c' 'k' 'e' 'b']
df_train
X8 ['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c']
df_test
X8 ['w' 'y' 'j' 'n' 'm' 's' 'a' 'v' 'r' 'o' 't' 'h' 'c' 'k' 'p' 'u' 'd' 'g'
 'b' 'q' 'e' 'l' 'f' 'i' 'x']

In [13]:
#all correct so far- ; outputs are clean

In [14]:
# LABEL ENCODING #
df_train_x= df_train.drop(['ID','y'], axis=1)
df_train_y=df_train['y']
print(df_train_x.shape)
print(df_train_y.shape)

(4209, 359)
(4209,)

In [15]:
#by key / ID
df_test_x= df_test.drop(['ID'], axis=1)
print(df_test_x.shape)
print(df_test_x.shape)

(4209, 359)
(4209, 359)

In [16]:
#wellshaped
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
for i in train_desc.columns:
    df_train_x[i]=le.fit_transform(df_train_x[i])
for i in test_desc.columns:
    df_test_x[i]=le.fit_transform(df_test_x[i])
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(df_train_x,df_train_y, test_size=0.25, random_state=10)

In [17]:
#toggle random state for best results
print(xtrain.shape,ytrain.shape)
print(xtest.shape,ytest.shape)

(3156, 359) (3156,)
(1053, 359) (1053,)

In [20]:
#dim reduction
#from #sklearn
from sklearn.decomposition import PCA
from xgboost import XGBRegressor
from sklearn.metrics import accuracy_score
pca =PCA(n_components=0.99, random_state=102)
xtrain_trans=pca.fit_transform(xtrain)
xtest_trans=pca.transform(xtest)
print("xtrain shape:", xtrain.shape)
print(xtrain_trans.shape)
print("xtest shape:", xtest.shape)
print(xtest_trans.shape)

xtrain shape: (3156, 359)
(3156, 27)
xtest shape: (1053, 359)
(1053, 27)

In [21]:
#primary component analysis / I hope
#PRINCIPAL component (close enough)

pca =PCA(n_components=0.99, random_state=102)
df_train_trans=pca.fit_transform(df_train_x)
print(df_train_x.shape)
print(df_train_trans.shape)

(4209, 359)
(4209, 27)

In [22]:
#use XGBoost
#Alwaays breaks it

xgb=XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,colsample_bynode=1, colsample_bytree=0.5,
                 enable_categorical=False, gamma=0, gpu_id=-1, importance_type=None, interaction_constraints='',
                 learning_rate=0.05, max_delta_step=0, max_depth=8, min_child_weight=2, monotone_constraints='()',
                 n_estimators=90, n_jobs=-1,num_parallel_tree=1, objective='reg:squarederror',predictor='auto', 
                 random_state=2341, reg_alpha=1e-06, reg_lambda=2,scale_pos_weight=19.3, subsample=1, tree_method='auto',
                 validate_parameters=1, verbosity=0, eta=0.003)
xgb.fit(xtrain_trans,ytrain)
#I eagerly await the newest error-codes
ypred=xgb.predict(xtest_trans)
xgb.predict(xtest_trans)

array([ 94.65012 ,  93.778015,  77.745514, ..., 109.12848 ,  94.11999 ,
       108.26532 ], dtype=float32)

In [23]:
#print it good
print(xgb.score(xtrain_trans,ytrain))
print(xgb.score(xtest_trans,ytest))

0.7837925674595312
0.5259128305736873

In [24]:
#prediction test files
#literally predicting the values of the test dataframe
xgb.predict(df_train_trans)

array([103.95934 ,  92.636375,  77.92083 , ..., 100.07799 ,  92.68107 ,
        96.01531 ], dtype=float32)

In [ ]:
#xgb lib dep / reinstalled xgboost, will go back to old projects this weekend to check for file compatibility

#RUNS CLEAN; 0 ERRORS [good man]

#This data is kinda junk, what is there realistically to understand from this junky data? that they have too many model types?